 
  .header-navbar {
    display: flex;
    width: 100%;
    height: 54px;
    position: -webkit-fixed;
    position: fixed;
    left: 240px;
    top: 56px;
    overflow: hidden;
     align-items: center;
     justify-content: flex-start;
    background-color:  rgb(20, 20, 20);
     
}

.navbar-element {
    background-color:  #222222;
    height: 32px;
    margin: 12px 12px 12px 0px;
    padding: 0px 12px;
    font: 14px Roboto, Arial, sans-serif;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
    color: #f1f1f1;
}

.first {
    margin: 12px 12px 12px 24px;
}

.active {
    background-color: #ffffff;
    color: #030303;
}
