<div class="sidebar">
    <div class="sidebar-categories">
        <!-- <div class = "sidebar-category selected">
            <span class="iconify user-icon selected-img" data-icon="ci:home-alt-fill" data-inline="false"></span>
            <span>Home</span>
        </div> -->
        <app-home></app-home>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:baseline-explore" data-inline="false"></span>
            <span>{{text.text1}}</span>
        </div>
        <app-subscriptions></app-subscriptions>
        <!-- <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:baseline-explore" data-inline="false"></span>
            <span>{{text.text1}}</span>
        </div> -->
        <!-- Example button to navigate to SubscriptionsComponent -->
        <!-- Conditionally render either SubscriptionsComponent or the button -->
        <!-- <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:baseline-subscriptions" data-inline="false"></span>
            <button class="btn-1" (click)="navigateToSubscriptionsPage()">Subscriptions</button>
        </div> -->
    </div>
    <hr />
    <div class="sidebar-categories">
        <div class="sidebar-category">

            &emsp;<span style="font-size: 15px;">{{text.text2}}</span>
            <span class="iconify user-icon" data-icon="ic:baseline-navigate-next" data-inline="false"></span>

        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:baseline-history" data-inline="false"></span>
            <span>{{text.text3}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ant-design:play-square-outlined" data-inline="false"></span>
            <span>{{text.text4}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:baseline-watch-later" data-inline="false"></span>
            <span>{{text.text5}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="bx:bxs-like" data-inline="false"></span>
            <span>{{text.text6}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:outline-expand-more" data-inline="false"></span>
            <span>{{text.text7}}</span>
        </div>
    </div>
    <hr />
    <div class="subscription-categories">
        <span class="head-text">
            {{text.text8}}
        </span>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
            <span>{{text.channel1}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
            <span>{{text.channel2}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
            <span>{{text.channel3}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
            <span>{{text.channel4}}</span>
        </div>
    </div>
    <hr />
    <hr />
    <div class="sidebar-categories">
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="fluent:settings-28-filled" data-inline="false"></span>
            <span> {{text.text9}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ci:flag-fill" data-inline="false"></span>
            <span> {{text.text10}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ci:help-circle" data-inline="false"></span>
            <span> {{text.text11}}</span>
        </div>
        <div class="sidebar-category">
            <span class="iconify user-icon" data-icon="ic:baseline-feedback" data-inline="false"></span>
            <span> {{text.text11}}</span>
            <span></span>
        </div>
    </div>
    <hr />


</div>