<p>main-content works!</p>

	<div class = "main-content">
		<div class = "videos">
			<div class = "videos-container">
				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>
				<div class = "video">
					<div class = "video-thumbnail">
                        <img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>
				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
                            <a href="">{{youtubeimg.channelname}}</a>
                            <span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>
				<div class = "video">
					<div class = "video-thumbnail">
						<img src={{youtubeimg.image_url}} alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>{{youtubeimg.caption}}</h3>
							<a href="">{{youtubeimg.channelname}}</a>
							<span>{{youtubeimg.info}}</span>
						</div>
					</div>
				</div>					
			</div>
		</div>
	</div>